/* PDF Preview Box */
.img-preview {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f8f9fa;
  padding: 5px;
}
.thumb-small {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f8f9fa;
}
